@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap");

#about-container {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

#about-container::-webkit-scrollbar {
  width: 0px;
}

#about-container header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#about-container header::after {
  content: "";
  width: 70vw;
  max-width: 900px;
  min-width: 100%;
  height: 10px;
  background-color: var(--dark);
  border-radius: 5px;
}

#about-container section span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 5rem;
  line-height: 4rem;
  color: var(--dark);
}

#about-container aside section {
  background-color: var(--dark);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  color: var(--yellow);
  padding: 1rem;
}
#about-container aside img {
  width: 200px;
  border-radius: 100px;
}

#about-container aside footer {
  color: var(--yellow);
  background-color: var(--medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

#about-container aside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divisor {
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--yellow);
}

.text-small {
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
}
#about-container article {
  margin: 0 auto;
}

footer a {
  color: var(--yellow);
}

#about-container section {
  display: flex;
  flex-direction: column;
}

#about-container article pre {
  font-size: 1rem;
  width: auto;
  margin-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 70vw;
  max-width: 900px;
  white-space: pre-wrap;
  text-align: justify;
  margin: 1rem;
}

.about-image {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 401px) {
  #about-container section span {
    font-size: 8rem;
    line-height: 7rem;
  }

  #about-container article pre {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1324px) {
  #about-container {
    align-items: flex-start;
    flex-direction: row;
  }
  #about-container section span {
    font-size: 15rem;
    line-height: 13rem;
  }

  #about-container aside section {
    background-color: var(--dark);
    width: auto;
    padding: 3rem 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    color: var(--yellow);
    margin-top: 1.5rem;
  }
  #about-container aside img {
    width: 200px;
    border-radius: 100px;
  }

  #about-container aside footer {
    color: var(--yellow);
    background-color: var(--medium);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  #about-container aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
