#contact-container {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

#contact-container::-webkit-scrollbar {
  width: 10px;
}

#contact-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10px;
}

#contact-container section {
  display: flex;
  flex-wrap: wrap;
}

ul a {
  color: var(--dark);
}

ul i {
  color: var(--medium);
}

form,
#contact-info {
  width: auto;
  height: fit-content;
  min-width: 40vw;
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Ubuntu Mono;
  margin: 1rem;
}
#contact-info {
  justify-content: space-between;
  gap: 1rem;
}

#contact-info ul {
  list-style-type: none;
  min-width: none;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--dark);
  margin: 0.5rem;
}

form label {
  display: block;
  text-align: start;
}

form input,
form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: var(--yellow);
  font-size: 1.2rem;
  width: fit-content;
}

form input:focus:not([type="submit"]),
form textarea:focus {
  outline: 2px solid var(--yellow);
}
