#contact-container {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

#contact-container::-webkit-scrollbar {
  width: 10px;
}

#contact-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10px;
}

#contact-container section {
  display: flex;
  flex-wrap: wrap;
}

ul a {
  color: var(--dark);
}

ul i {
  color: var(--medium);
}

form,
#contact-info {
  width: calc(100% - 2rem);
  height: fit-content;
  min-width: 40vw;
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Ubuntu Mono;
  margin: 1rem;
}
#contact-info {
  justify-content: space-between;
  gap: 1rem;
}

#contact-info ul {
  list-style-type: none;
  min-width: none;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--dark);
  margin: 0.5rem;
}

fieldset:not([id="sendBtn"]) {
  position: relative;
  border: none;
  margin-bottom: 10px;
}

#sendBtn {
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
#sendBtn > * {
  width: max-content;
}

form label {
  position: absolute;
  line-height: 0;
  top: 1.6rem;
  left: 16px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: grey;
}

form i {
  position: absolute;
  line-height: 0;
  top: 1rem;
  right: 10px;
  pointer-events: none;
  text-align: center;
  color: firebrick;
}

.feedback-start {
  color: var(--medium);
  font-size: 0.8rem;
  top: 10px;
}

.feedback-valid {
  color: rgb(123, 190, 123);
}

.label-valid {
  color: firebrick;
}

form input:not([type="submit"]),
form textarea {
  padding: 12px;
  padding-right: 40px;
  padding-top: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: var(--yellow);
  padding: 12px;
  font-size: 1.2rem;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input:focus:not([type="submit"]),
form textarea:focus {
  outline: 2px solid var(--yellow);
}

form input:focus:not([type="submit"]) + label,
form textarea:focus + label {
  top: 10px;
}

.keep-up {
  top: 10px !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid var(--yellow);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--yellow) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  form,
  #contact-info {
    width: auto;
  }
}
