#contact-container {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

#contact-container::-webkit-scrollbar {
  width: 10px;
}

#contact-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10px;
}

#contact-container section {
  display: flex;
  flex-wrap: wrap;
}

ul a {
  color: var(--dark);
}

ul i {
  color: var(--medium);
}

form,
#contact-info {
  width: auto;
  height: fit-content;
  min-width: 40vw;
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Ubuntu Mono;
  margin: 1rem;
}
#contact-info {
  justify-content: space-between;
  gap: 1rem;
}

#contact-info ul {
  list-style-type: none;
  min-width: none;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--dark);
  margin: 0.5rem;
}

fieldset {
  position: relative;
  border: none;
  margin-bottom: 10px;
}

form label {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 20px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: grey;
}

form input:not([type="submit"]),
form textarea {
  padding: 12px;
  padding-top: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
  resize: vertical;
}

form input[type="submit"] {
  background-color: var(--yellow);
  padding: 12px;
  font-size: 1.2rem;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input:focus:not([type="submit"]),
form textarea:focus {
  outline: 2px solid var(--yellow);
}

form input:focus:not([type="submit"]) + label,
form textarea:focus + label {
  top: 10px;
}

.keep-up {
  top: 10px !important;
}
