#btn-switch .btn-right {
  left: 27px;
}
#btn-switch .btn-left {
  left: 3px;
}

#btn-switch {
  background-color: var(--medium);
  border-radius: 15px;
  position: relative;
  width: 55px;
  height: 31px;
  cursor: pointer;
}

#btn-switch div {
  background-color: var(--yellow);
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 3px;
  transition: 100ms all ease-in-out;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--yellow);
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 50px;
  justify-content: center;
  background-color: var(--dark);
  transform: translate(-50%);
  z-index: 1;
  font-family: Ubuntu Mono;
}

a {
  text-decoration: none;
}

nav section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-dark {
  background-color: var(--dark);
  color: var(--yellow);
}

.nav-yellow {
  background-color: var(--yellow);
  color: var(--dark);
}

.logo-yellow {
  color: var(--yellow);
}

.logo-dark {
  color: var(--dark);
}
