.portfolio-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-container::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark);
}

.portfolio-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10px;
}

.profile-container-pic {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.portfolio-code-text-container {
  padding: 0 0.5rem;
  padding-bottom: 4rem;
}

.portfolio-code-divisor {
  display: none;
}

.profile-container-bar-big {
  display: none;
}

.profile-container-bar-small {
  display: none;
}

.profile-container-ball {
  display: none;
}

.profile-container-stack-container {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--yellow);
  align-items: center;
  margin: 1rem;
}
.profile-container-stack-container img {
  height: 30px;
}

.powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  margin-right: 1rem;
  text-align: center;
  color: var(--yellow);
  font-family: Ubuntu Mono;
  font-size: 1rem;
  padding-left: 20px;
}

.powered-by > section {
  display: flex;
  gap: 1rem;
}

.power-logo {
  height: 2rem;
}

pre * {
  white-space: pre-wrap;
}

#portfolio-code {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--dark);
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
  }

  .portfolio-code-profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;
    height: 80vh;
  }

  .profile-container-pic {
    border-radius: 20px;
    width: auto;
    height: 160px;
  }

  .portfolio-code-divisor {
    display: block;
    width: 5px;
    height: 80vh;
    background-color: var(--yellow);
    border-radius: 3px;
  }

  .portfolio-code-text-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 800px;
    padding: 0.5rem;
  }

  .portfolio-code-text-container::-webkit-scrollbar {
    width: 10px;
  }

  .portfolio-code-text-container::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 5px;
  }

  .powered-by {
    padding-left: 0px;
  }
  .profile-container-bar-big {
    display: block;
    width: 257px;
  }

  .profile-container-bar-small {
    display: block;
    width: 207px;
  }

  .profile-container-ball {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--yellow);
    margin-top: auto;
  }

  #portfolio-code {
    display: flex;
    flex-direction: row;
    gap: 49px;
    height: auto;
    width: auto;
    align-items: flex-start;
  }
}
