.slider > section > * {
  float: left;
}
.slider {
  width: 100vw;
  overflow: hidden;
}

.slider > section {
  width: 200vw;
  transition: transform 0.3s ease-in-out;
}

.slider-on-right {
  transform: translateX(-100vw);
}
